@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme {
  /* colors */
  --color-brand-red: #ee2b69;
  --color-brand-white: #f7f7f7;
  --color-brand-black: #000000;
  --color-brand-yellow: #fbe843;

  /* font family */
  --font-work-sans: var(--font-work-sans);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen font-work-sans;
  }
}

@utility pattern {
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    rgba(251, 232, 67, 0.2) 49.5%,
    rgba(251, 232, 67, 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 1% 100%;
  background-position: center;
  background-repeat: repeat-x;
}
